@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .h {
    @apply border border-solid border-red-500;
  }
  .border-py {
    @apply border border-l-0 border-r-0 border-primary;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px !important;
  width: 2px;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #36313178;
}
